orcc/eclipse/plugins/net.sf.orcc.backends/ahu.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Configuration">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Network">
          <xs:complexType>
            <xs:attribute name="file-format" type="xs:string" use="required" />
            <xs:attribute name="qualified-id" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="Partitioning">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="Partition">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="Instance">
                      <xs:complexType>
                        <xs:attribute name="id" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="id" type="xs:string" use="required" />
                  <xs:attribute name="pe" type="xs:string" use="required" />
                  <xs:attribute name="backend-id" type="xs:string" use="required" />
                  <xs:attribute name="host" type="xs:string" use="optional" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Backends">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="Backend">
                <xs:complexType>
                  <xs:sequence minOccurs="0">
                    <xs:element name="Parameter">
                      <xs:complexType>
                        <xs:attribute name="key" type="xs:string" use="required" />
                        <xs:attribute name="value" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="id" type="xs:string" use="required" />
                  <xs:attribute name="backend" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Media">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Interface">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Parameter">
                      <xs:complexType>
                        <xs:attribute name="key" type="xs:string" use="required" />
                        <xs:attribute name="value" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="id" type="xs:string" use="required" />
                  <xs:attribute name="medium" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Connections">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="Fifo-Connection">
                <xs:complexType>
                  <xs:attribute name="src" type="xs:string" use="required" />
                  <xs:attribute name="src-port" type="xs:string" use="required" />
                  <xs:attribute name="dst" type="xs:string" use="required" />
                  <xs:attribute name="dst-port" type="xs:string" use="optional" />
                  <xs:attribute name="size" type="xs:unsignedShort" use="required" />
                  <xs:attribute name="medium-id" type="xs:string" use="required" />
                  <xs:attribute name="dstport" type="xs:string" use="optional" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>